*{
	
	margin: 0px;
	padding:0px;
	box-sizing:borde-box;
	
	
}
body 
{
	
	
	
		background-image: url(back2.jpg);
		background-repeat: no-repeat;
		background-attachment : fixed;
		background-size: 100% 100%;
	  
	
	 
	
	
	
}



nav
{
	display: flex;
	justify-content:space-around;
	align-items:center;
	min-height: 8vh;
	background-color: cornsilk; 
	font-family: 'Poppins', sans-serif;
}

.logo
{
	font-family: 'Architects Daughter', cursive;
	color: lightcoral;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 22px;
}
.nav-links
{
	display: flex;
	justify-content:space-around;
	width: 30%;
	z-index: 100;

}
.nav-links li
{
	list-style: none;

}
.nav-links a
{
	color: lightcoral;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;

}
.stone{
	display: none;
	cursor: pointer;
}

.stone div
{
	width: 25px;
	height: 3px;
	background-color: lightcoral;
	margin: 5px;
	transition: all 0.3s ease;

}

 
@media screen and (min-width:300px) and (max-width:1900px)
{
	.nav-links{
		width: 60%;
	}
}
@media screen and (max-width:768px)
{
	body
	{
	overflow-x: hidden; 	
	}
	.nav-links
	{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: cornsilk;
		display: flex;
		flex-direction :column;
		align-items:center;
		width: 50%;
		transform :translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li
	{
	opacity: 0;	
	}
	.stone
	{
		display: block;
	}
	.nav-active
	{
	transform :translateX(0%);	
	}
	@keyframes navLinkFade
	{
		from{
		opacity :0;
		transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
		
	}
	
}
.toggle .line1
{
transform: rotate(-45deg) translate(-5px,6px);	
}
.toggle .line2
{
opacity: 0;	
}
.toggle .line3
{
transform: rotate(45deg) translate(-5px,-6px);	
}
.img 
{
margin-left: 27%;
	margin-top: 10%;

	

}

.img img
{
	
	height: 300px;
	

}
.btn1{
	padding: 40px 0px 0px 0px;
	margin: 20px 0px 20px 0px;
	
	}
	.btn2{
		border: 5px solid  cornsilk;
		background-color: white;
		color:white;
		width:300px; 
		height: 100px;
		border-radius: 60px;
		cursor: pointer;
		font-size:30px;
		font-family: 'Architects Daughter', cursive, sans-serif;
		font-weight: 800;
		margin: 0px 0px 15px 0px;
		margin-left: 39%;
		}
		.btn2 a{
			text-decoration: none;
			color: lightsalmon;
		
		}
		.btn2 a:hover
		{
			color: khaki ;
		}
		


